/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #45badd;
  font-family: "Lato", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("robot.gif");
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button {
  width: 200px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: #fff;
  background-color: #ff3482;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(95%);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  filter: brightness(30%);
  cursor: default;
}

.jokeBox {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: auto;
}

.joke {
  width: 60%;
  margin: 0 auto;
  font-size: 22px;
  line-break: strict;
  text-align: center;
}

.text-sm {
  font-size: 16px;
}

/* Media Query: Tablet or Smaller */
@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button {
    box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }

  .joke {
    font-size: 16px;
  }
}
